.close {
  display: none;
}

.grid p a {
  color: #3b83ed;
  border: 1px solid #3b83ed;
  background: transparent;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  margin-left: 1em;
  margin-top: 1em;
}

.title {
  font-size: 1.5em;
  color: #3b83ed;
}

.grid #main {
  grid-area: A1;
}

.grid #main-other {
  padding: 1em;
  overflow: hidden;
  grid-area: A2;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.circle {
  width: 50px;
  height: 50px;
  background: #3b83ed;
  border: 1px solid red blue;
  border-radius: 50%;
}

.grid #main-deport,
.grid #main-tecn {
  border: 1px dotted gray;
  padding: 0.5em;
  margin-bottom: 1em;
}

.grid #main-deport p,
.grid #main-tecn p {
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #3b83ed;
}

.container-index {
  margin-top: 1em;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "1  2"
    "1  2"
    "1  2";
  position: relative;
}

.container-index p {
  border: 1px dotted gray;
  padding: 1em;
}
